@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "tailwindcss";

:root {
  --color-primary: #2196f3;
  --color-gray-dark: #050f24;
  --color-gray-light: #bbc1c4;
  --color-light-blue: #f3fafe;
  --color-primary-blue: #009cd8;
  --color-light-blue-alt: #cfedfa;
  --color-gray-blue: #cdd9e0;
  --color-light-gray-blue: #e1e9ee;
  --color-gray-dark-2: #3d4852;
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-gray-blue {
  background-color: var(--color-gray-blue);
}
.light-gray-blue {
  background-color: var(--color-light-gray-blue);
}

.gray-dark-2 {
  color: var(--color-gray-dark-2);
}
